In [10]:
import pandas as pd
import timeit
#Read only specific colmuns in a csv file
#fields = ['star_name', 'ra']
#df = pd.read_csv('data.csv', skipinitialspace=True, usecols=fields)

a = pd.DataFrame({'col1': [1,2,3,4],'col2':['US','UK','SK','Mexico']})
b = pd.DataFrame({'col1': [1,2,4,5,6],'col2':['US','UK','Mexico','Germany','India']})
%timeit a.merge(b,indicator = True, how='outer').loc[lambda x : x['_merge']!='both']

7.62 ms ± 157 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [15]:

def foo(a,b):

    c = pd.concat([a,b], axis=0)

    c.drop_duplicates(keep=False, inplace=True) # Set keep to False if you don't want any
                                              # of the duplicates at all
    c.reset_index(drop=True, inplace=True)
    return c
    
c = foo(a,b)

In [16]:
c

   col1     col2
0     3       SK
1     5  Germany
2     6    India